<footer class="dark-footer navbar-fixed-bottom ">
    <!-- To the right -->
    <!-- Default to the left 2019 -->
    <strong>Copyright ©  @DateTime.Now.Year.ToString() <a href="http://aydyazilim.com/">@("@yd Yazılım")</a></strong> Tüm Hakları Saklıdır.
</footer>