<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="~/img/image-not.png" alt="" width="150">
                <small class="d-block mb-3 text-muted">©2019 | Ali Yasin DOĞAN <br />.Net Developer</small>
            </div>
            <div class="col-6 col-md">
                <h5>Kurumsal</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">İletişim</a></li>
                    <li><a class="text-muted" href="#">Hakkımızda</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Sosyal Medya</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Github</a></li>
                    <li><a class="text-muted" href="#">Twitter</a></li>
                    <li><a class="text-muted" href="#">Linkedin</a></li>
                    <li><a class="text-muted" href="#">Web Sitesi</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Ürünler</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Ürünler 1</a></li>
                    <li><a class="text-muted" href="#">Ürünler 2</a></li>
                    <li><a class="text-muted" href="#">Ürünler 3</a></li>
                    <li><a class="text-muted" href="#">Ürünler 4</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>