
@{
    ViewBag.Title = "Genel Durum";
}
<div class="container-fluid mb-60">
    <div class="icerik">
        <h3 class="sayfaBasligi"><i class="fa fa-list-ul"></i>&nbsp;Genel Durum&nbsp;<small>Dashboard</small>  </h3>
        <div class="row" style="padding:5px !important">
            <div class="col-lg-4">
                <div class="panel panel-dark">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-newspaper-o"></i>&nbsp;KATEGORİLER</h3>
                    </div>
                    <div class="panel-body text-bold"> 1882 Adet</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-dark">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-picture-o"></i>&nbsp;SLİDER</h3>
                    </div>
                    <div class="panel-body text-bold"> 6 Adet </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-dark">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i>&nbsp;KULLANICILAR</h3>
                    </div>
                    <div class="panel-body text-bold"> 13 Kişi </div>
                </div>
            </div>
        </div>
    </div>
</div>
