@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Ana Sayfa</h1>
    <p class="lead">Bu örnek ile Bootstrap ve Asp.Net Mvc CodeFirst ile Kurumsal bir mimaride hızlı bir web sitesi hazırlayın !</p>
</div>